.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.vscode/
*.fif
*.h5
*ave.csv
*.stc
renv*
analysis/export/
code/__pycache__/
code/tmp.py
data/raw/
data/preprocessed_old/
data/processed_old/
data/processed/
docs/
