.DS_Store
.vscode/
*.aux
*.docx
*.fdb_latexmk
*.fif
*.fls
*.log
*.out
*.pdf
*.sif
*.tex
slurm-*
__pycache__/
figure-docx/
figure-latex/
/.devcontainer/
/analysis_old/
/data/
/docs/
/manuscript_cache/
/output/
